project/ac/MongoDBWebServiceClient/src/wsdl/localhost_8080/MongoDBWebService/MongoDB.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 
2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 
JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 
JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mongoservice.ac.project/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" 
             targetNamespace="http://mongoservice.ac.project/" name="MongoDB">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://mongoservice.ac.project/" schemaLocation="http://localhost:8080/MongoDBWebService/MongoDB?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="add">
        <part name="parameters" element="tns:add"/>
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse"/>
    </message>
    <message name="update">
        <part name="parameters" element="tns:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="tns:updateResponse"/>
    </message>
    <message name="find">
        <part name="parameters" element="tns:find"/>
    </message>
    <message name="findResponse">
        <part name="parameters" element="tns:findResponse"/>
    </message>
    <message name="delete">
        <part name="parameters" element="tns:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"/>
    </message>
    <message name="findAll">
        <part name="parameters" element="tns:findAll"/>
    </message>
    <message name="findAllResponse">
        <part name="parameters" element="tns:findAllResponse"/>
    </message>
    <message name="log">
        <part name="parameters" element="tns:log"/>
    </message>
    <portType name="MongoDB">
        <operation name="add">
            <input wsam:Action="http://mongoservice.uni.project/MongoDB/addRequest" message="tns:add"/>
            <output wsam:Action="http://mongoservice.uni.project/MongoDB/addResponse" message="tns:addResponse"/>
        </operation>
        <operation name="update">
            <input wsam:Action="http://mongoservice.uni.project/MongoDB/updateRequest" message="tns:update"/>
            <output wsam:Action="http://mongoservice.uni.project/MongoDB/updateResponse" message="tns:updateResponse"/>
        </operation>
        <operation name="find">
            <input wsam:Action="http://mongoservice.uni.project/MongoDB/findRequest" message="tns:find"/>
            <output wsam:Action="http://mongoservice.uni.project/MongoDB/findResponse" message="tns:findResponse"/>
        </operation>
        <operation name="delete">
            <input wsam:Action="http://mongoservice.uni.project/MongoDB/deleteRequest" message="tns:delete"/>
            <output wsam:Action="http://mongoservice.uni.project/MongoDB/deleteResponse" message="tns:deleteResponse"/>
        </operation>
        <operation name="findAll">
            <input wsam:Action="http://mongoservice.uni.project/MongoDB/findAllRequest" message="tns:findAll"/>
            <output wsam:Action="http://mongoservice.uni.project/MongoDB/findAllResponse" message="tns:findAllResponse"/>
        </operation>
        <operation name="log">
            <input wsam:Action="http://mongoservice.uni.project/MongoDB/log" message="tns:log"/>
        </operation>
    </portType>
    <binding name="MongoDBPortBinding" type="tns:MongoDB">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="add">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="find">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findAll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="log">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="MongoDB">
        <port name="MongoDBPort" binding="tns:MongoDBPortBinding">
            <soap:address location="http://localhost:8080/MongoDBWebService/MongoDB"/>
        </port>
    </service>
</definitions>